#container_treemap .node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

#container_circlepacking circle {
  fill: #1f77b4;
  fill-opacity: .25;
  stroke: #1f77b4;
  stroke-width: 1px;
}

#container_circlepacking .leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

#analytics #container_circlepacking text {
  font: 10px sans-serif;
}
